html {
  position: relative;
  min-height: 100%;
}

main {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.un-wishlist-btn {
  margin-top: -0.75rem;
}

/* Accessibility contrast */
a {
  color: #004fa5;
}

.btn-primary {
    color: #fff;
    background-color: #00366f;
    border-color: #00366f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #004894;
    border-color: #003873;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}