{% extends "layout.html" %}

{% block content %}
    <section class="jumbotron bg-white text-center p-0">
        <div class="container">
            <h1 class="jumbotron-heading">My wishlist</h1>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            {% if products|length > 0 %}
                <div class="card-columns">
                    {% for p in products %}
                        <div class="h-100">
                            <div class="card">
                                {% include 'product/product_preview_fragment.html' %}
                                <button class="btn w-100 p-2 un-wishlist-btn" aria-label="Remove from wishlist"
                                        data-product-id="{{ p.id }}">Remove</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="card w-100">
                    <div class="card-body text-center">
                        <h4>No products found</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block end_of_page %}
    <script>
        // Wishlist
        let wishlist_remove_url = '{{ url_for('wishlist_product_remove') }}';

        // Remove from wishlist
        $('.un-wishlist-btn').on('click', function (event) {
            let parameters = {
                '{{ simple_form.id.id }}': $(this).data('product-id'),
                'csrf_token': '{{ simple_form.csrf_token.current_token }}'
            }
            $.post(wishlist_remove_url, parameters)
                .done(function (data) {
                    location.reload();
                })
                .fail(function (data) {
                    if (!('responseJSON' in data) || !('msg' in data.responseJSON))
                        flash_message('Review deletion failed', 'danger');
                    flash_message(data.responseJSON['msg'], 'danger');
                });
        });
    </script>
{% endblock %}