{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="card my-4">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <form method="post" action="">
                    <fieldset class="form-group">
                        <!-- Email -->
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {{ form.email(class=get_field_class(form.email.errors), maxlength=320) }}
                            {{ format_errors(form.email.errors) }}
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {{ form.password(class=get_field_class(form.password.errors)) }}
                            {{ format_errors(form.password.errors) }}
                        </div>
                        <div class="form-check">
                            {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                        <p class="d-none text-muted mb-0" id="cookiesDisableWarning">Disabled due to cookie policy</p>
                    </fieldset>
                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ form.submit(class="btn btn-dark") }}
                    </div>
                    <!-- CSRF token -->
                    {{ form.csrf_token() }}
                </form>
                <div class="border-top pt-2">
                    <small class="text-muted">
                        Not got an account? <a class="ml-1" href="{{ url_for('register') }}">Register Now</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_page %}
    <script>
    // Check if no cookie permission
    if (getCookie('allow_cookies') === '') {
        $('#{{ form.remember.id }}').prop( "disabled", true );
        $('#cookiesDisableWarning').removeClass('d-none');
    }
    </script>
{% endblock %}