{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <!-- Update Details -->
        <div class="card my-4">
            <h4 class="card-header">Update Details</h4>
            <div class="card-body">
                <form method="post" action="{{ url_for('update_user_details') }}" enctype="multipart/form-data">
                    <fieldset class="form-groups">
                        <!-- Name -->
                        <div class="form-group">
                            {{ details_form.name.label(class="form-control-label") }}
                            {{ details_form.name(class=get_field_class(details_form.name.errors),
                                                 minlength=2, maxlength=40) }}
                            {{ format_errors(details_form.name.errors) }}
                        </div>

                        <!-- Username -->
                        <div class="form-group">
                            {{ details_form.username.label(class="form-control-label") }}
                            {{ details_form.username(class=get_field_class(details_form.username.errors),
                                                     minlength=2, maxlength=25) }}
                            {{ format_errors(details_form.username.errors) }}
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            {{ details_form.email.label(class="form-control-label") }}
                            {{ details_form.email(class=get_field_class(details_form.email.errors),
                                                  maxlength=320) }}
                            {{ format_errors(details_form.email.errors) }}
                        </div>

                        <!-- Current Picture -->
                        <div class="form-group">
                            <p>Current Picture</p>
                            <img class="img-thumbnail" alt="Current profile picture"
                                 src="{{ url_for('static', filename=current_user.rel_profile_picture_path()) }}">
                        </div>

                        <!-- Profile Picture Upload -->
                        <div class="form-group">
                            {{ details_form.picture.label(class="form-control-label") }}
                            {{ details_form.picture(class="form-control-file", accept="image/png,image/jpeg") }}
                            <div class="text-danger">
                                {% for err in details_form.picture.errors %}
                                    <small>{{ err }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                    <!-- Save Button -->
                    <div class="form-group">
                        {{ details_form.submit(class="btn btn-dark", id="change_details_submit") }}
                    </div>
                    <!-- CSRF token -->
                    {{ details_form.csrf_token(id="changeDetailsCsrfToken") }}
                </form>
            </div>
        </div>

        <!-- Change Password -->
        <div class="card my-4">
            <h4 class="card-header">Change Password</h4>
            <div class="card-body">
                <form method="post" action="{{ url_for('change_password') }}">
                    <fieldset class="form-groups">
                        <!-- Current Password -->
                        <div class="form-group">
                            {{ password_form.current_password.label(class="form-control-label") }}
                            {{ password_form.current_password(
                                                class=get_field_class(password_form.current_password.errors)) }}
                            {{ format_errors(password_form.current_password.errors) }}
                        </div>

                        <!-- New Password -->
                        <div class="form-group">
                            {{ password_form.password.label(class="form-control-label") }}
                            {{ password_form.password(
                                                class=get_field_class(password_form.password.errors)) }}
                            {{ format_errors(password_form.password.errors) }}
                        </div>

                        <!-- New Password Confirm -->
                        <div class="form-group">
                            {{ password_form.password_confirm.label(class="form-control-label") }}
                            {{ password_form.password_confirm(
                                                class=get_field_class(password_form.password_confirm.errors)) }}
                            {{ format_errors(password_form.password_confirm.errors) }}
                        </div>
                    </fieldset>
                    <!-- Save Button -->
                    <div class="form-group">
                        {{ password_form.submit(class="btn btn-dark", id="change_password_submit") }}
                    </div>
                    <!-- CSRF token -->
                    {{ password_form.csrf_token(id="changePasswordCsrfToken") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_page %}
    <script>
        let password_field = $('#{{ password_form.password.id }}')
        let password_confirm_field = $('#{{ password_form.password_confirm.id }}')

        $('form').submit(function (event) {
            if (password_field.val() !== password_confirm_field.val()) {
                event.preventDefault();
                if (!password_confirm_field.attr('class').includes('is-invalid')) {
                    password_confirm_field.nextAll('.invalid-feedback:first')
                        .append('<p class="mb-0">Passwords must match.</p>');
                    password_confirm_field.addClass('is-invalid');
                }
            }
        });
    </script>
{% endblock %}