{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="card my-4">
            <h4 class="card-header">Register</h4>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <fieldset class="form-groups">
                        <!-- Name -->
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            {{ form.name(class=get_field_class(form.name.errors), minlength=2, maxlength=40) }}
                            {{ format_errors(form.name.errors) }}
                        </div>

                        <!-- Username -->
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
                            {{ form.username(class=get_field_class(form.username.errors), minlength=2, maxlength=25) }}
                            {{ format_errors(form.username.errors) }}
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {{ form.email(class=get_field_class(form.email.errors), maxlength=320) }}
                            {{ format_errors(form.email.errors) }}
                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {{ form.password(class=get_field_class(form.password.errors)) }}
                            {{ format_errors(form.password.errors) }}
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group">
                            {{ form.password_confirm.label(class="form-control-label") }}
                            {{ form.password_confirm(class=get_field_class(form.password_confirm.errors)) }}
                            {{ format_errors(form.password_confirm.errors) }}
                        </div>

                        <!-- Profile Picture Upload -->
                        <div class="form-group">
                            {{ form.picture.label(class="form-control-label") }}
                            {{ form.picture(class="form-control-file", accept="image/png,image/jpeg") }}
                            <div class="text-danger">
                                {% for err in form.picture.errors %}
                                    <small>{{ err }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ form.submit(class="btn btn-dark") }}
                    </div>
                    <!-- CSRF token -->
                    {{ form.csrf_token() }}
                </form>
                <div class="border-top pt-2">
                    <small class="text-muted">
                        Got an account? <a class="ml-1" href="{{ url_for('login') }}">Login Now</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_page %}
    <script>
        let password_field = $('#{{ form.password.id }}')
        let password_confirm_field = $('#{{ form.password_confirm.id }}')

        $('form').submit(function (event) {
            if (password_field.val() !== password_confirm_field.val()) {
                event.preventDefault();
                if (!password_confirm_field.attr('class').includes('is-invalid')) {
                    password_confirm_field.nextAll('.invalid-feedback:first').append('<p class="mb-0">Passwords must match.</p>');
                    password_confirm_field.addClass('is-invalid');
                }
            }
        });
    </script>
{% endblock %}