{% extends "layout.html" %}

{% block content %}
    <section class="jumbotron bg-white text-center p-0">
        <div class="container">
            <h1 class="jumbotron-heading">
                <a class="text-dark" href="{{ url_for('user', user_id=user.id) }}">{{ user.username }}'s</a> reviews</h1>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            {% if user.reviews|length > 0 %}
                <!-- Reviews -->
                {% for review in user.reviews|sort(attribute='created', reverse=True) %}
                    {% include 'review/review_fragment.html' %}
                {% endfor %}
            {% else %}
                <div class="card w-100">
                    <div class="card-body text-center">
                        <p class="h4">No reviews found</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'review/delete_review_modal.html' %}
{% endblock %}

{% block end_of_page %}
{% include 'review/delete_review_script.html' %}
{% endblock %}