{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Picture -->
            <div class="col-md-3 mb-4">
                <div class="card mb-4 box-shadow h-100">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ url_for('static', filename=user.rel_profile_picture_path()) }}"
                                 alt="user" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ user.username }}</h4>
                                <p class="text-secondary mb-1">{{ user.name }}</p>
                                <p class="text-secondary mb-1">Member
                                    since: {{ user.registered.strftime("%B %d, %Y") }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Reviews - limited to 3 -->
            <div class="col-md-9 mb-4">
                <div class="card mb-4 box-shadow h-100">
                    <div class="card-header">
                        Reviews ({{ user.reviews|length }})
                        <a class="float-right" href="{{ url_for('reviews', user_id=user.id) }}">View all reviews</a>
                    </div>
                    <div class="card-body">
                        {% for review in (user.reviews|sort(attribute='created', reverse=True))[:3] %}
                            {% include 'review/review_fragment.html' %}
                        {% endfor %}
                        {% if user.reviews|length == 0 %}
                            <div class="card w-100">
                                <div class="card-body text-center">
                                    <p class="h4">No reviews found</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <!-- Listings -->
        <div class="card">
            <div class="card-header">
                Listings ({{ user.products|length }})
                <a class="float-right" href="{{ url_for('listings', user_id=user.id) }}">View all listings</a>
                <a></a>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for p in user.products[:3] %}
                        <div class="col-lg-4 col-md-6 mb-3">
                            {% include 'product/product_preview_fragment.html' %}
                        </div>
                    {% endfor %}
                </div>
                {% if user.products|length == 0 %}
                    <div class="card w-100">
                        <div class="card-body text-center">
                            <p class="h4">No listings found</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'review/delete_review_modal.html' %}
{% endblock %}

{% block end_of_page %}
{% include 'review/delete_review_script.html' %}
{% endblock %}