{% extends "layout.html" %}

{% block content %}
    <section class="jumbotron bg-white text-center p-0">
        <div class="container">
            <h1 class="jumbotron-heading">Home</h1>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            {% if products|length > 0 %}
                <div class="card-columns">
                    {% for p in products %}
                        <div class="h-100">
                            {% include 'product/product_preview_fragment.html' %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="card w-100">
                    <div class="card-body text-center">
                        <p class="h4">No products found</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}