<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons/bootstrap-icons.css') }}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Nav bar left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if title == 'Home' %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item{% if title == 'List a product' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('new_product') }}">List a product</a>
                    </li>
                {% endif %}
            </ul>

            <!-- Nav bar right -->
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{{ url_for('manage_user') }}">Manage Account</a>
                            <a class="dropdown-item" href="{{ url_for('user', user_id=current_user.id) }}">
                                My profile</a>
                            <a class="dropdown-item" href="{{ url_for('wishlist') }}">My wishlist</a>
                            <a class="dropdown-item" href="{{ url_for('listings', user_id=current_user.id) }}">
                                My Listings</a>
                            <a class="dropdown-item" href="{{ url_for('reviews', user_id=current_user.id) }}">
                                My Reviews</a>
                            <div class="dropdown-divider"></div>
                            <form action="{{ url_for('logout') }}" method="post">
                                {{ simple_form.csrf_token(id="logoutCsrfToken") }}
                                <button class="dropdown-item" type="submit">Logout</button>
                            </form>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login', next=request.path) }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main>
    <!-- Success or error messages -->
    <div class="container" id="flashContainer">
        {% with flashed_messages = get_flashed_messages(with_categories=true) %}
            {% if flashed_messages %}
                {% for category, message in flashed_messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Content -->
    {% block content %}{% endblock %}

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Copyright © Aaron Rosser 2020</p>
    </div>
</footer>

<!-- cookie warning toast -->
<div class="fixed-bottom d-none" id="cookieAlert">
    <div class="toast bg-dark text-white w-100" role="alert" data-autohide="false">
        <div class="toast-body p-4 d-flex flex-column container">
            <h4>Cookie Warning</h4>
            <p>This website uses persistent cookies to
            </p>
            <ul>
                <li>enable login remember me functionality</li>
                <li>remember cookie preferences (stop this annoying you each session)</li>
            </ul>
            <p>Non-persistent cookies are to remember choice.</p>
            <div class="ml-auto">
                <button type="button" class="btn btn-outline-light mr-3" id="cookieDeny">Deny</button>
                <button type="button" class="btn btn-success" id="cookieAccept">Accept</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script>
    // Enable popover
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    // Flash message function for page javascript
    let flash_message = function(message, category) {
        let new_msg = `<div class="alert alert-${ category }">${ message } </div>`;
        $('#flashContainer').append(new_msg);
    }

    // From https://www.w3schools.com/js/js_cookies.asp
    function setCookie(cname, cvalue, days_until_expiry) {
        var d = new Date();
        d.setTime(d.getTime() + (days_until_expiry * 24 * 60 * 60 * 1000));
        var expires = 'expires=' + d.toUTCString();
        document.cookie = `${cname}=${cvalue};${expires};path=/`;
    }

    function setSessionCookie(cname, cvalue) {
        var d = new Date();
        document.cookie = `${cname}=${cvalue};path=/`;
    }

    // From https://www.w3schools.com/js/js_cookies.asp
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return '';
    }

    // Cookies warning
    $('#cookieDeny').on('click', function() {
        $('#cookieAlert').addClass('d-none');
        setSessionCookie('allow_cookies', 1);
    });

    $('#cookieAccept').on('click', function() {
        $('#cookieAlert').addClass('d-none');
        setCookie('allow_cookies', 1, 90);
        // Re-enable login remember me
        if ($('#cookiesDisableWarning').length && $('#remember').length) {
            $('#remember').prop('disabled', false);
            $('#cookiesDisableWarning').addClass('d-none');
        }
    });

    // Show warning if have not accepted
    if (getCookie('allow_cookies') === '') {
        $('#cookieAlert').removeClass('d-none');
    }
</script>
{% block end_of_page %}{% endblock %}
</body>
</html>