{% extends "layout.html" %}

{% block content %}
    <section class="jumbotron bg-white text-center p-0">
        <div class="container">
            <h1 class="jumbotron-heading">404 Page not found</h1>
        </div>
    </section>

{% endblock %}