<!-- Delete Review Modal -->
<div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteReviewModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReviewModalLabel">Delete Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you wish to delete the review? Deleting the review cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteReviewBtn">
                    Delete</button>
                <!-- Review id -->
                {{ simple_form.id(class='d-none', value='-1', id="deleteReviewId") }}
            </div>
        </div>
    </div>
</div>