<div class="d-flex border-top py-3">
    <!-- Author profile pic -->
    <div class="p-2">
        <a href="{{ url_for('user', user_id=review.author.id) }}">
            <img src="{{ url_for('static', filename=review.author.rel_profile_picture_path()) }}"
                 alt="user" width="50" class="rounded-circle">
        </a>
    </div>
    <div class="w-100">
        <!-- View product / delete dropdown -->
        {% if review.can_delete() or not no_view_product %}
            <div class="btn-group float-right">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if not no_view_product %}
                    <a class="dropdown-item"
                       href="{{ url_for('product', product_id=review.product_id) }}">View product</a>
                    {% endif %}
                    {% if review.can_delete() %}
                        <a class="dropdown-item" data-toggle="modal"
                           data-target="#deleteReviewModal" data-review_id="{{ review.id }}">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <a href="{{ url_for('user', user_id=review.author.id) }}">
            <span class="h6">{{ review.author.username }}</span>
        </a>
        <p class="mb-0">{{ review.content }}</p>
        <span>{{ review.get_star_rating_html() }}</span>
        <span class="float-right">{{ review.created.strftime("%B %d, %Y") }}</span>
    </div>
</div>