{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="card my-4">
            <h4 class="card-header">Edit Product Listing</h4>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <fieldset class="form-groups">
                        <!-- Name -->
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            {{ form.name(class=get_field_class(form.name.errors), placeholder="Banana",
                                         minlength=5 ,maxlength=25) }}
                            {{ format_errors(form.name.errors) }}
                        </div>

                        <!-- Description -->
                        <div class="form-group">
                            {{ form.description.label(class="form-control-label") }}
                            {{ form.description(class=get_field_class(form.description.errors),
                                                placeholder="1 of 5 a day = 1 medium banana and source of vitamin B6",
                                                minlength=10 ,maxlength=250) }}
                            {{ format_errors(form.description.errors) }}
                        </div>

                        <!-- Category -->
                        <div class="form-group">
                            {{ form.category.label(class="form-control-label") }}
                            {{ form.category(class=get_field_class(form.category.errors), size="6") }}
                            {{ format_errors(form.category.errors) }}
                        </div>

                        <!-- Price -->
                        <div class="form-group">
                            {{ form.price.label(class="form-control-label") }}

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    {{ form.currency(class="input-group-text", aria_label="Currency") }}
                                </div>
                                {{ form.price(class=get_field_class(form.price.errors),
                                              placeholder="1.99", min="0", step="0.01") }}
                                {{ format_errors(form.price.errors) }}
                                {{ format_errors(form.currency.errors) }}
                            </div>
                        </div>

                        <!-- Ebay Link -->
                        <div class="form-group">
                            {{ form.ebay_link.label(class="form-control-label") }}
                            {{ form.ebay_link(class=get_field_class(form.ebay_link.errors),
                                              placeholder="https://www.ebay.co.uk/itm/...",
                                              maxlength=150, pattern="(https://)(www|)(\.ebay\.co\.uk/itm/)(.+)") }}
                            {{ format_errors(form.ebay_link.errors) }}
                        </div>

                        <!-- Amazon Link -->
                        <div class="form-group">
                            {{ form.amazon_link.label(class="form-control-label") }}
                            {{ form.amazon_link(class=get_field_class(form.description.errors),
                                                placeholder="https://www.amazon.co.uk/gp/product/...",
                                                maxlength=150, pattern="(https://)(www|)(\.amazon\.)(co\.uk|com)(/.+)") }}
                            {{ format_errors(form.amazon_link.errors) }}
                        </div>

                        <div class="form-group">
                            <p>Current Picture</p>
                            <img class="img-thumbnail" alt="Current product picture"
                                 src="{{ url_for('static', filename=product.rel_picture_path()) }}">
                        </div>

                        <!-- Product Picture Upload -->
                        <div class="form-group">
                            {{ form.picture.label(class="form-control-label") }}
                            {{ form.picture(class="form-control-file", accept="image/png,image/jpeg") }}
                            <div class="text-danger">
                                {% for err in form.picture.errors %}
                                    <small>{{ err }}</small>
                                {% endfor %}
                            </div>
                        </div>

                    </fieldset>
                    <!-- Submit Button -->
                    <div class="form-group">
                        {{ form.submit(class="btn btn-dark") }}
                    </div>
                    <!-- CSRF token -->
                    {{ form.csrf_token() }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}