{% extends "layout.html" %}

{% block content %}
    <!-- Product page -->
    <div class="container">
        <div class="row mb-4">
            <!-- Picture -->
            <div class="col-md">
                <div class="card mb-4 h-100">
                    <img class="y-100 w-100 m-auto"
                         src="{{ url_for('static', filename=product.rel_picture_path()) }}"
                         alt="Product picture">
                </div>
            </div>

            <!-- Product Details -->
            <div class="col-md">
                <div class="card mb-4 box-shadow h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <!-- Price / Rating -->
                        <div class="d-flex justify-content-between pb-2 border-bottom">
                            <div>{{ product.get_price() }}</div>
                            <div>{{ product.get_star_rating_html() }}</div>
                        </div>
                        <p class="card-text py-2 border-bottom">{{ product.description }}</p>
                        <div class="row">
                            <!-- Wishlist -->
                            {% if current_user.is_authenticated %}
                                <div class="col pb-2">
                                    {% if product in current_user.wishlist_products %}
                                        <button class="btn btn-danger w-100 d-none" id="wishlistAddBtn">
                                            Add to wishlist</button>
                                        <button class="btn btn-danger w-100" id="wishlistRemoveBtn">
                                            Remove from wishlist</button>
                                    {% else %}
                                        <button class="btn btn-danger w-100" id="wishlistAddBtn">
                                            Add to wishlist</button>
                                        <button class="btn btn-danger w-100 d-none" id="wishlistRemoveBtn">
                                            Remove from wishlist</button>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <!-- Ebay Link -->
                            <div class="col pb-2">
                                {% if product.ebay_link %}
                                    <a href="{{ product.ebay_link }}" class="btn btn-success w-100">Buy on ebay</a>
                                {% else %}
                                    <a tabindex="0" class="btn btn-primary w-100" role="button" data-toggle="popover"
                                       data-trigger="focus" data-placement="bottom"
                                       data-content="Currently unavailable">Buy on ebay</a>
                                {% endif %}
                            </div>
                            <!-- Amazon Link -->
                            <div class="col pb-2">
                                {% if product.amazon_link %}
                                    <a href="{{ product.amazon_link }}" class="btn btn-warning w-100">Buy on Amazon</a>
                                {% else %}
                                    <a tabindex="0" class="btn btn-warning w-100" role="button" data-toggle="popover"
                                       data-trigger="focus" data-placement="bottom"
                                       data-content="Currently unavailable">Buy on amazon</a>
                                {% endif %}
                            </div>
                        </div>

                        <p class="card-text mb-0 pt-2">Sold by:
                            <a href="{{ url_for('user', user_id=product.seller.id) }}">{{ product.seller.username }}</a>
                        </p>
                        <p class="card-text mb-0">First listed: {{ product.created.strftime("%B %d, %Y") }}</p>
                        <p class="card-text mb-0">Last updated: {{ product.last_updated.strftime("%B %d, %Y") }}</p>
                    </div>
                    <!-- Edit / Delete buttons -->
                    {% if current_user.is_authenticated and current_user.id == product.seller_id %}
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <a href="{{ url_for('edit_product', product_id=product.id) }}"
                                       class="btn btn-dark w-100">Edit product</a>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-danger w-100" data-toggle="modal"
                                            data-target="#deleteProductModal">Delete Product</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Reviews section -->
        <div class="card mb-4">
            <div class="card-header">Reviews ({{ product.reviews|length }})</div>
            <div class="card-body">
                {% if current_user.is_authenticated %}
                    <!-- New Review -->
                    <div class="d-flex pb-2">
                        <div class="p-2">
                            <a href="{{ url_for('user', user_id=current_user.id) }}">
                                <img src="{{ url_for('static', filename=current_user.rel_profile_picture_path()) }}"
                                     alt="user" width="50" class="rounded-circle">
                            </a>
                        </div>
                        <div class="w-100">
                            <a href="{{ url_for('user', user_id=current_user.id) }}">
                                <span class="h6">{{ current_user.username }}</span>
                            </a>
                            <form method="post" action="{{ url_for('post_review', product_id=product.id) }}">
                                <fieldset class="form-groups mb-2">
                                    <div class="form-group">
                                        <!-- New review content -->
                                        {{ new_review_form.content(class=get_field_class(new_review_form.content.errors),
                                                                   placeholder="New review", minlength=10, maxlength=120,
                                                                   aria_label="Review message") }}
                                        {{ format_errors(new_review_form.content.errors) }}
                                    </div>
                                    <div class="form-group mb-0" aria-label="Review rating">
                                        <!-- New review rating buttons -->
                                        <button id="star_1" type="button" aria-label="1 star" class="py-1 px-2 star_btn" data-star-number="1">
                                            <i class="bi bi-star"></i></button>
                                        <button id="star_2" type="button" aria-label="2 star" class="py-1 px-2 star_btn" data-star-number="2">
                                            <i class="bi bi-star"></i></button>
                                        <button id="star_3" type="button" aria-label="3 star" class="py-1 px-2 star_btn" data-star-number="3">
                                            <i class="bi bi-star"></i></button>
                                        <button id="star_4" type="button" aria-label="4 star" class="py-1 px-2 star_btn" data-star-number="4">
                                            <i class="bi bi-star"></i></button>
                                        <button id="star_5" type="button" aria-label="5 star" class="py-1 px-2 star_btn" data-star-number="5">
                                            <i class="bi bi-star"></i></button>

                                        <!-- Submit button -->
                                        {{ new_review_form.submit(class="btn btn-dark float-right") }}
                                    </div>
                                    <!-- Rating -->
                                    {{ new_review_form.rating(class="form-control d-none", value="-1") }}
                                    <div class="text-danger">
                                        {% for err in new_review_form.rating.errors %}
                                            <small>{{ err }}</small>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                                <!-- CSRF token -->
                                {{ new_review_form.csrf_token(id="newReviewCsrfToken") }}
                            </form>
                        </div>
                    </div>
                {% endif %}

                <!-- Reviews -->
                {% for review in (product.reviews|sort(attribute='created', reverse=True))[:6] %}
                    {% include 'review/review_fragment.html' %}
                {% endfor %}
                {% if not current_user.is_authenticated and product.reviews|length == 0 %}
                    <div class="card w-100">
                        <div class="card-body text-center">
                            <p class="h4">No reviews found</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div><!-- Reviews section end -->

        <!-- Similar products -->
        <div class="card">
            <div class="card-header">{{ category }} you may also like</div>
            <div class="card-body">
                <div class="row">
                    {% for p in related_products %}
                        <div class="col-lg-4 col-md-6 mb-3">
                            {% include 'product/product_preview_fragment.html' %}
                        </div>
                    {% endfor %}
                </div>
                {% if related_products|length == 0 %}
                    <div class="card w-100">
                        <div class="card-body text-center">
                            <p class="h4">No products found</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div><!-- Similar products end -->
    </div>

    <!-- Delete Product Modal -->
    <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProductModalLabel">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete the product? Deleting the product cannot be undone and will also
                    delete all associated reviews.
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('delete_product', product_id=product.id) }}" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <!-- Product id -->
                        {{ simple_form.id(class="form-control d-none", value=product.id, id="deleteProductId") }}
                        <!-- CSRF token -->
                        {{ simple_form.csrf_token(id="deleteProductCsrfToken") }}
                    </form>
                </div>
            </div>
        </div>
    </div><!-- Delete Product Modal End -->

    {% include 'review/delete_review_modal.html' %}
{% endblock %}

{% block end_of_page %}
    <script>
        // Wishlist
        let wishlist_add_url = '{{ url_for('wishlist_product_add') }}';
        let wishlist_add_btn = $('#wishlistAddBtn');
        let wishlist_remove_url = '{{ url_for('wishlist_product_remove') }}';
        let wishlist_remove_btn = $('#wishlistRemoveBtn');
        let wishlist_parameters = {
            'id': {{ product.id }},
            'csrf_token': '{{ simple_form.csrf_token.current_token }}'
        }

        // Add to wishlist
        wishlist_add_btn.on('click', function() {
            $.post(wishlist_add_url, wishlist_parameters)
                .done(function () {
                    // Hide add button, reveal remove button
                    wishlist_add_btn.addClass('d-none');
                    wishlist_remove_btn.removeClass('d-none');
                })
                .fail(function (data) {
                    // Display error message as alert at top of page
                    if (!('responseJSON' in data) || !('msg' in data.responseJSON))
                        flash_message('Add to wishlist failed', 'danger');
                    flash_message(data.responseJSON['msg'], 'danger');
                });
        });

        // Remove from wishlist
        wishlist_remove_btn.on('click', function() {
            $.post(wishlist_remove_url, wishlist_parameters)
                .done(function () {
                    // Hide remove button, reveal add button
                    wishlist_remove_btn.addClass('d-none');
                    wishlist_add_btn.removeClass('d-none');
                })
                .fail(function (data) {
                    // Display error message as alert at top of page
                    if (!('responseJSON' in data) || !('msg' in data.responseJSON))
                        flash_message('Remove from wishlist failed', 'danger');
                    flash_message(data.responseJSON['msg'], 'danger');
                });
        });

        // New review
        // Update star buttons and hidden rating value
        $('.star_btn').on('click', function () {
            let star_num = $(this).data('star-number');
            $('#rating').val(star_num);
            $("#star_1").children('i').removeClass().addClass('bi bi-star-fill');
            $("#star_2").children('i').removeClass().addClass('bi bi-star' + (star_num >= 2 ? '-fill' : ''));
            $("#star_3").children('i').removeClass().addClass('bi bi-star' + (star_num >= 3 ? '-fill' : ''));
            $("#star_4").children('i').removeClass().addClass('bi bi-star' + (star_num >= 4 ? '-fill' : ''));
            $("#star_5").children('i').removeClass().addClass('bi bi-star' + (star_num >= 5 ? '-fill' : ''));
        });
    </script>
    {% include 'review/delete_review_script.html' %}
{% endblock %}