<div class="card h-100">
    <a href="{{ url_for('product', product_id=p.id) }}">
        <img class="card-img-top"
             src="{{ url_for('static', filename=p.rel_picture_path()) }}"
             alt="Product picture">
    </a>
    <div class="card-body">
        <a href="{{ url_for('product', product_id=p.id) }}">
            <p class="card-title h5">{{ p.name }}</p>
        </a>
        <div class="d-flex justify-content-between pb-2 border-bottom">
            <div>{{ p.get_price() }}</div>
            <div>{{ p.get_star_rating_html() }}</div>
        </div>
        <p class="card-text py-2">{{ p.description }}</p>
    </div>
</div>